[submodule "glitchtip-frontend"]
	path = glitchtip-frontend
	url = https://github.com/true-og/glitchtip-frontend
[submodule "glitchtip-backend"]
	path = glitchtip-backend
	url = https://github.com/true-og/glitchtip-backend
